{{ define "main" }}
  <div role="main" class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}

        <!-- Display a list of all posts by date posted -->
          {{ $pag := .Paginate (where .Site.RegularPages "Type" "post") }}
          {{ range $pag.Pages }}

              <article class="post-preview">

            {{ if isset .Params "affiliatelink" }}
                <a href="{{ .Params.affiliatelink }}" target="_blank">
            {{ else }}
                <a href="{{ .Permalink }}">
            {{ end }}
                  <h2 class="post-title">[External] {{ .Title }}</h2>
                  {{ if .Params.subtitle }}
                    <h3 class="post-subtitle">
                    {{ .Params.subtitle }}
                    </h3>
                  {{ end }}
                </a>


                {{ if isset .Params "imgurl" }}
                <img src={{ .Params.imgurl }} alt={{ .Params.imgalt }}>
                {{ end }}

                {{ partial "post_meta.html" . }}
                <div class="post-entry">
                  {{ if .Truncated }}
                    {{ .Summary }}
                    <a href="{{ .Permalink }}" class="post-read-more">[{{ i18n "readMore" }}]</a>
                  {{ else }}
                    {{ .Content }}
                  {{ end }}
                </div>

                {{ if .Params.tags }}
                  <span class="post-meta">
                  {{ range .Params.tags }}
                    #<a href="{{ $.Site.LanguagePrefix }}/tags/{{ . | urlize }}">{{ . }}</a>&nbsp;
                  {{ end }}
                  </span>
                {{ end }}
              </article>
          {{ end }}
        {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          <ul class="pager main-pager">
            {{ if .Paginator.HasPrev }}
              <li class="previous">
                <a href="{{ .URL }}page/{{ .Paginator.Prev.PageNumber }}">&larr; {{ i18n "newerPosts" }}</a>
              </li>
            {{ end }}
            {{ if .Paginator.HasNext }}
              <li class="next">
                <a href="{{ .URL }}page/{{ .Paginator.Next.PageNumber }}">{{ i18n "olderPosts" }} &rarr;</a>
              </li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}

